#grad {
    background: linear-gradient(darkseagreen, cornsilk, burlywood);
}

h1 {
  color: #008080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

p {
  color: #008080;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 150%;
}

h2 {
  color: rgb(184, 77, 77);
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  font-size: 150%;
}

h3 {
  color: rgb(184, 77, 77);
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  font-size: 150%;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #92809F;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
